body {
  margin: 25px;
  padding: 0;
  font-family: sans-serif;
  background: url(https://i.imgur.com/i49b44f.jpg);
}

#game {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#circle {
  border: 10px solid #333333;
	border-radius: 50%;
	width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#control {
  position: absolute;
  border: 5px solid #333333;
	border-radius: 50%;
	width: 150px;
  height: 150px;
  margin-top: 65px;
  margin-left: 65px;
  background-color: #ece7ee;
  z-index: 5;
}

#vertical {
  position: absolute;
  margin-left: 137px;
	width: 10px;
  height: 290px;
  background-color: #333333;
  z-index: 3; 
}

#horizontal {
  position: absolute;
  margin-top: 138px;
  width: 290px;
  height: 10px;
  background-color: #333333;
  z-index: 4; 
}

#quarter-circle-bottom-right {
  position: absolute;
  width: 140px;
  height: 140px;
  background: #094a8f;
  border-radius: 0 0 140px 0;
  -moz-border-radius: 0 0 140px 0;
  -webkit-border-radius: 0 0 140px 0;
  z-index: 2;
  margin-top: 140px;
  margin-left: 140px;
}

#quarter-circle-bottom-left {
  position: absolute;
  margin-top: 140px;
  margin-right: 20px;
  width: 140px;
  height: 140px;
  background: #cca707;
  border-radius: 0 0 0 140px;
  -moz-border-radius: 0 0 0 140px;
  -webkit-border-radius: 0 0 0 140px;
  z-index: 2;
}

#quarter-circle-top-right {
  position: absolute;
  width: 140px;
  height: 140px;
  background: #9f0f17;
  border-radius: 0 140px 0 0;
  -moz-border-radius: 0 140px 0 0;
  -webkit-border-radius: 0 140px 0 0;
  z-index: 2;
  margin-left: 140px;
}

#quarter-circle-top-left {
  position: absolute;
  width: 140px;
  height: 140px;
  background: #00a74a;
  border-radius: 140px 0 0 0;
  -moz-border-radius: 140px 0 0 0;
  -webkit-border-radius: 140px 0 0 0;
  z-index: 2;
}

@font-face {
  font-family: 'Simon';
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/alfaslabone/v7/Qx6FPcitRwTC_k88tLPc-TxObtw73-qQgbr7Be51v5c.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v16/pEobIV_lL25TKBpqVI_a2w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

#logo {
  font-size: 240%;
  margin-top: 24px;
  margin-left: 10px;
  font-family: Simon;
}

#reg {
  font-size: 30%;
  vertical-align: super;
}

#main {
  display: flex;
  flex-direction: row;
}

#switch {
  display: flex;
  flex-direction: row;
  margin-top: 7px;
  margin-left: 42px;
}

#OFF {
  font-size: 45%;
  margin-right: 3px;
  margin-top: 4.5px;
  display: inline-block;
  transform: scale(1,2);
  -webkit-transform: scale(1,2);
  -moz-transform: scale(1,2);
  -ms-transform: scale(1,2);
  -o-transform: scale(1,2);
}

#ON {
  font-size: 45%;
  margin-left: 3px;
  margin-top: 4.5px;
  display: inline-block;
  transform: scale(1,2);
  -webkit-transform: scale(1,2);
  -moz-transform: scale(1,2);
  -ms-transform: scale(1,2);
  -o-transform: scale(1,2);
}

#contain {
  background: #222222;
  border-radius: 10%;
  width: 30px;
  height: 15px;
}

#thingOFF {
  background: #3193de;
  width: 11.5px;
  height: 11.5px;
  margin-top: 1.5px;
  margin-left: 1.5px; 
}

#thingON {
  background: #3193de;
  width: 11.5px;
  height: 11.5px;
  margin-top: 1.5px;
  margin-left: 17px; 
}

#countOFF {
  background: #32050c;
  color: #430710;
  border: 2px solid #333333;
  border-radius: 23%;
  width: 35px;
  height: 23px;
  margin-left: 15px;
  font-size: 100%;
  padding-left: 10px;
  letter-spacing: 3px;
}

#countON {
  background: #32050c;
  color: #e20930;
  border: 2px solid #333333;
  border-radius: 23%;
  width: 35px;
  height: 23px;
  margin-left: 15px;
  font-size: 100%;
  padding-left: 10px;
  letter-spacing: 3px;
}

#start {
  background: #ff0019;
  border: 2.5px solid #464646;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 50%;
  width: 19px;
  height: 19px;
  margin-top: 3.25px;
  margin-left: 12px;
}

#start:active {
  transform: translateY(1px);
}

#strictOFF {
  position: absolute;
  background: #370d14;
  border: 1px solid #272727;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  margin-top: 65px;
  margin-left: 99px;
}

#strictON {
  position: absolute;
  background: #e20930;
  border: 1px solid #272727;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  margin-top: 65px;
  margin-left: 99px;
}

#strict {
  background: #fffc4a;
  border: 2.5px solid #464646;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 50%;
  width: 19px;
  height: 19px;
  margin-top: 3.25px;
  margin-left: 12px;
}

#strict:active {
  transform: translateY(1px);
}

#sign {
  display: flex;
  flex-direction: row;
}

#COUNT {
  font-family: Oswald, Arial, sans;
  font-size: 55%;
  margin-top: 3px;
  margin-left: 24px;
}

#START {
  font-family: Oswald, Arial, sans;
  font-size: 55%;
  margin-top: 3px;
  margin-left: 19px;
}

#STRICT {
  font-family: Oswald, Arial, sans;
  font-size: 55%;
  margin-top: 3px;
  margin-left: 13px;
}

@media all and (min-width: 700px) {
  #circle {
    border: 20px solid #333333;
    width: 600px;
    height: 600px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5)
  }

  #control {
    border: 10px solid #333333;
    width: 300px;
    height: 300px;
    margin-top: 130px;
    margin-left: 130px;
  }

  #vertical {
    margin-left: 274px;
	  width: 20px;
    height: 580px;
  }

  #horizontal {
    margin-top: 276px;
    width: 580px;
    height: 20px;
  }

  #quarter-circle-bottom-right {
    width: 280px;
    height: 280px;
    border-radius: 0 0 280px 0;
    -moz-border-radius: 0 0 280px 0;
    -webkit-border-radius: 0 0 280px 0;
    margin-top: 280px;
    margin-left: 280px;
  }

  #quarter-circle-bottom-left {
    margin-top: 280px;
    margin-right: 40px;
    width: 280px;
    height: 280px;
    border-radius: 0 0 0 280px;
    -moz-border-radius: 0 0 0 280px;
    -webkit-border-radius: 0 0 0 280px;
  }

  #quarter-circle-top-right {
    width: 280px;
    height: 280px;
    border-radius: 0 280px 0 0;
    -moz-border-radius: 0 280px 0 0;
    -webkit-border-radius: 0 280px 0 0;
    margin-left: 280px;
  }

  #quarter-circle-top-left {
    width: 280px;
    height: 280px;
    border-radius: 280px 0 0 0;
    -moz-border-radius: 280px 0 0 0;
    -webkit-border-radius: 280px 0 0 0;
  }

  #logo {
    font-size: 480%;
    margin-top: 48px;
    margin-left: 20px;
  }

  #switch {
    margin-top: 14px;
    margin-left: 84px;
  }
  
  #OFF {
    font-size: 90%;
    margin-top: 9px;
  }
  
  #ON {
    font-size: 90%;
    margin-top: 9px;
  }
  
  #contain {
    width: 60px;
    height: 30px;
  }
  
  #thingOFF {
    width: 23px;
    height: 23px;
    margin-top: 3px;
    margin-left: 3px; 
  }

  #thingON {
    width: 23px;
    height: 23px;
    margin-top: 3px;
    margin-left: 34px; 
  }

  #countOFF {
    border: 4px solid #333333;
    width: 70px;
    height: 52px;
    margin-left: 30px;
    font-size: 200%;
    padding-left: 20px;
  }

  #countON {
    border: 4px solid #333333;
    width: 70px;
    height: 52px;
    margin-left: 30px;
    font-size: 200%;
    padding-left: 20px;
  }

  #start {
    border: 5px solid #464646;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    width: 38px;
    height: 38px;
    margin-top: 6.5px;
    margin-left: 24px;
  }

  #strictOFF {
    border: 2px solid #272727;
    width: 14px;
    height: 14px;
    margin-top: 130px;
    margin-left: 198px;
  }

  #strictON {
    border: 2px solid #272727;
    width: 14px;
    height: 14px;
    margin-top: 130px;
    margin-left: 198px;
  }
    
  #strict {
    border: 5px solid #464646;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    width: 38px;
    height: 38px;
    margin-top: 6.5px;
    margin-left: 24px;
  }

  #COUNT {
    font-size: 110%;
    margin-top: 6px;
    margin-left: 48px;
  }
  
  #START {
    font-size: 110%;
    margin-top: 6px;
    margin-left: 38px;
  }
  
  #STRICT {
    font-size: 110%;
    margin-top: 6px;
    margin-left: 26px;
  }
}