body {
  margin: 25px;
  padding: 0;
  font-family: sans-serif;
  background: url(https://i.imgur.com/i49b44f.jpg);
}

#game {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#circle {
  border: 10px solid #333333;
	border-radius: 50%;
	width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#control {
  position: absolute;
  border: 5px solid #333333;
	border-radius: 50%;
	width: 150px;
  height: 150px;
  margin-top: 65px;
  margin-left: 65px;
  background-color: white;
  z-index: 5;
}

#vertical {
  position: absolute;
  margin-left: 137px;
	width: 10px;
  height: 290px;
  background-color: #333333;
  z-index: 3; 
}

#horizontal {
  position: absolute;
  margin-top: 138px;
  width: 290px;
  height: 10px;
  background-color: #333333;
  z-index: 4; 
}

#quarter-circle-bottom-right {
  position: absolute;
  width: 140px;
  height: 140px;
  background: #094a8f;
  border-radius: 0 0 140px 0;
  -moz-border-radius: 0 0 140px 0;
  -webkit-border-radius: 0 0 140px 0;
  z-index: 2;
  margin-top: 140px;
  margin-left: 140px;
}

#quarter-circle-bottom-left {
  position: absolute;
  margin-top: 140px;
  margin-right: 20px;
  width: 140px;
  height: 140px;
  background: #cca707;
  border-radius: 0 0 0 140px;
  -moz-border-radius: 0 0 0 140px;
  -webkit-border-radius: 0 0 0 140px;
  z-index: 2;
}

#quarter-circle-top-right {
  position: absolute;
  width: 140px;
  height: 140px;
  background: #9f0f17;
  border-radius: 0 140px 0 0;
  -moz-border-radius: 0 140px 0 0;
  -webkit-border-radius: 0 140px 0 0;
  z-index: 2;
  margin-left: 140px;
}

#quarter-circle-top-left {
  position: absolute;
  width: 140px;
  height: 140px;
  background: #00a74a;
  border-radius: 140px 0 0 0;
  -moz-border-radius: 140px 0 0 0;
  -webkit-border-radius: 140px 0 0 0;
  z-index: 2;
}

#logo {
  font-size: 200%;
  margin-top: 10px;
  margin-left: 20px;
}

#sup {
  font-size: 50%;
  vertical-align: super;
}

@media all and (min-width: 700px) {
  #circle {
    border: 20px solid #333333;
    width: 600px;
    height: 600px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5)
  }

  #control {
    border: 10px solid #333333;
    width: 300px;
    height: 300px;
    margin-top: 130px;
    margin-left: 130px;
  }

  #vertical {
    margin-left: 274px;
	  width: 20px;
    height: 580px;
  }

  #horizontal {
    margin-top: 276px;
    width: 580px;
    height: 20px;
  }

  #quarter-circle-bottom-right {
    width: 280px;
    height: 280px;
    border-radius: 0 0 280px 0;
    -moz-border-radius: 0 0 280px 0;
    -webkit-border-radius: 0 0 280px 0;
    margin-top: 280px;
    margin-left: 280px;
  }

  #quarter-circle-bottom-left {
    margin-top: 280px;
    margin-right: 40px;
    width: 280px;
    height: 280px;
    border-radius: 0 0 0 280px;
    -moz-border-radius: 0 0 0 280px;
    -webkit-border-radius: 0 0 0 280px;
  }

  #quarter-circle-top-right {
    width: 280px;
    height: 280px;
    border-radius: 0 280px 0 0;
    -moz-border-radius: 0 280px 0 0;
    -webkit-border-radius: 0 280px 0 0;
    margin-left: 280px;
  }

  #quarter-circle-top-left {
    width: 280px;
    height: 280px;
    border-radius: 280px 0 0 0;
    -moz-border-radius: 280px 0 0 0;
    -webkit-border-radius: 280px 0 0 0;
  }

  #logo {
    font-size: 400%;
    margin-top: 20px;
    margin-left: 40px;
  }
}